@inject NavigationManager NavigationManager
@inject IJSRuntime _js

<!-- start top bar -->
<div id="top-bar" class="top-bar--style-1">
    <div class="container">
        <a id="top-bar__logo" class="site-logo" href="/">AGRICOM</a>

        <a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

        <nav class="mainNav" id="top-bar__navigation" role="navigation">
            <ul>
                <li class=" @GetActive("", NavLinkMatch.All)">
                    <a href="javascript:void(0);" @onclick='()=>MenuItemClickHandler("")'>Home</a>
                </li>
                <li class="@GetActive("AllProducts", NavLinkMatch.All)">
                    <a href="javascript:void(0);" @onclick='()=>MenuItemClickHandler("AllProducts")'>Products</a>
                </li>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <li class="@GetActive("Category", NavLinkMatch.All)">
                            <a href="javascript:void(0);" @onclick='()=>MenuItemClickHandler("Category")'>Admin Category</a>
                        </li>
                        <li class="@GetActive("AdminProduct", NavLinkMatch.All)">
                            <a href="javascript:void(0);" @onclick='()=>MenuItemClickHandler("AdminProduct")'>Admin Product</a>
                        </li>
                    </Authorized>
                </AuthorizeView>

                <li class="@GetActive("About-us", NavLinkMatch.All)">
                    <a href="javascript:void(0);" @onclick='()=>MenuItemClickHandler("About-us")'>About us</a>

                </li>
                <li class="@GetActive("Contact-us", NavLinkMatch.All)">
                    <a href="javascript:void(0);" @onclick='()=>MenuItemClickHandler("Contact-us")'>Contact us</a>
                </li>
                <li class="li-btn"><a class="custom-btn primary" href="javascript:void(0);" @onclick='()=>MenuItemClickHandler("Contact-us")'>Get in touch</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- end top bar -->
@code {

    protected void MenuItemClickHandler(string action)
    {
        HideNavMenu();
        NavigationManager.NavigateTo(action);
    }

    protected async void HideNavMenu()
    {
        await _js.InvokeVoidAsync("HideNavMenu");
    }

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }


    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix, bool hasSubmenu = false) => IsActive(href, navLinkMatch) ? "current" + (hasSubmenu ? " menu_open" : "") : "";

    string ToggleMenuClass(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix, bool hasSubmenu = false) => IsActive(href, navLinkMatch) ? " current" : "";
}
