@page "/AllProducts"
@inject IProductRepository ProductRepository
@inject ICategoryRepository CategoryRepository
<header class="intro  align-items-center" style="background-image: url('/images/bg_9 (1).jpg');">

    <div class="pattern" style="opacity: 0.15;"></div>

    <div class="container">
        <div class="intro__text">
            <p class="intro__subtitle">major</p>
            <h1 class="intro__title">Products</h1>
        </div>
    </div>

</header>
@* <section class="section"> *@
@*     <div class="container"> *@
@*         <div class="products"> *@
@*             <div class="products__inner"> *@
@*                 @if (ProductsList.Any()) *@
@*                 { *@
@*                     @foreach (var prod in ProductsList) *@
@*                     { *@
@*                         <div class="row no-gutters align-items-md-center"> *@
@*                             <!-- start item --> *@
@*                             <div class="col-md-6"> *@
@*                                 <div class="product__item product__item--text"> *@
@*                                     <i class="product__item__ico product__item__ico--1"></i> *@
@* *@
@*                                     <h3 class="product__item__title"> *@
@*                                         <a href="#">@prod.Name</a> *@
@*                                     </h3> *@
@* *@
@*                                     <p> *@
@*                                         @prod.Description *@
@*                                     </p> *@
@*                                 </div> *@
@*                             </div> *@
@*                             <!-- end item --> *@
@*                             <!-- start item --> *@
@*                             <div class="col-md-6"> *@
@*                                 <div class="product__item product__item--image"> *@
@*                                     <img class="img-fluid" src="@prod.ImageUrl" alt="product"> *@
@*                                 </div> *@
@*                             </div> *@
@*                             <!-- end item --> *@
@*                         </div> *@
@*                     } *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                     if (IsLoading) *@
@*                     { *@
@*                         //loading gif *@
@*                         <div class="text-center"> *@
@*                             Loading... *@
@*                         </div> *@
@*                     } *@
@*                     else *@
@*                     { *@
@*                         //no records *@
@*                         <p>No products found.</p> *@
@*                     } *@
@*                 } *@
@* *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </section> *@
<section class="section">
    <div class="container">
        <ul id="gallery-set">
            @if (CategoryList.Any())
            {
                <li>
                    <a class="selected" data-cat="*" href="javascript:void(0);">All</a>
                </li>
                @foreach (var category in CategoryList)
                {
                    <li>
                        <a data-cat="@category.Name" href="javascript:void(0);">@category.Name</a>
                    </li>
                }
            }

        </ul>
        <div class="gallery gallery--style-1">
            <div class="gallery__inner">
                <div class="row row-no-gutter js-isotope" data-isotope-options="{ &quot;itemSelector&quot;: &quot;.js-isotope__item&quot;, &quot;transitionDuration&quot;: &quot;0.8s&quot;, &quot;percentPosition&quot;: &quot;true&quot;}" style="position: relative; height: 1176.44px;">
                    @if (ProductsList.Any())
                    {
                        @foreach (var prod in ProductsList)
                        {
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-isotope__item @prod.Category.Name">
                                <div class="gallery__item">
                                    <div class="gallery__item__inner">
                                        <img width="1" height="1" src="@prod.ImageUrl" alt="@prod.Category.Name" data-lazy-src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" data-ll-status="loaded" class="entered lazyloaded">
                                        @* <noscript> *@
                                        @*     <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/9-2-510x510.jpg);" alt="Testy Holiday"> *@
                                        @* </noscript> *@

                                        <span>@prod.Description</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section--no-pt">
    <div class="container">
        <div class="section-heading section-heading--center">
            <h2 class="title">OUR PRODUCT FEATURES</h2>
        </div>

        <div class="counters counters--style-1">
            <div class="counters__inner">
                <div class="row justify-content-center">
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/78037"></iframe>

                            <p class="counter__item__heading  js-count animate">
                                No Plastic -
                                The Green Choice
                            </p>

                            <p class="counter__item__title">
                                Bio-World products are made
                                from 100% plant material such
                                as sugarcane and bamboo
                                waste, which does not contain
                                any toxic material and it is also
                                oil and water resistance.
                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/3139"></iframe>

                            <p class="counter__item__heading  js-count animate">
                                Microwave Safe
                            </p>

                            <p class="counter__item__title">
                                Bio-World products are
                                microwave safe which means
                                it can be used in microwave or
                                in oven between temperature
                                0 0
                                -20 C to +140 C.
                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/92519"></iframe>

                            <p class="counter__item__heading  js-count animate">Trust</p>

                            <p class="counter__item__title">
                                At Bio-World every product is
                                accounted for on specs
                                in piece and in packaging.
                                This is done to ensure we never
                                fail shout on our commitment.
                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/133241"></iframe>

                            <p class="counter__item__heading  js-count animate">
                                Best Alternative for
                                Plastic
                            </p>

                            <p class="counter__item__title">
                                Bio-World products are biodegradable
                                that work great for all occasions! Ideal
                                for banquets, barbeques, parties, and
                                more. Everyday products you need, at
                                prices you want.
                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/15175"></iframe>

                            <p class="counter__item__heading  js-count animate">
                                Biodegradable &
                                Compostable
                            </p>

                            <p class="counter__item__title">
                                Bio-World products are manufactured
                                from FDA registered raw materials.
                                All products are made from
                                renewable resources. All products are
                                BPA, PFAS and chlorine
                                chemical free.

                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/137079" class="w-50"></iframe>

                            <p class="counter__item__heading  js-count animate">
                                Heavy Duty
                            </p>

                            <p class="counter__item__title">
                                Bio-World products are designed to
                                be lightweight and durable.
                                Ergonomic design of our product
                                feel more comfortable and grippier
                                while holding in hands, and we
                                make it thicker, so it does not break
                                easily in takeaway or delivery.


                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    private IEnumerable<ProductDTO> ProductsList { get; set; } = new List<ProductDTO>();
    private IEnumerable<CategoryDTO> CategoryList { get; set; } = new List<CategoryDTO>();
    public bool IsLoading { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCategories();
            await LoadProducts();
        }
    }

    private async Task LoadProducts()
    {
        IsLoading = true;
        StateHasChanged();
        ProductsList = await ProductRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }

    private async Task LoadCategories()
    {
        IsLoading = true;
        StateHasChanged();
        CategoryList = await CategoryRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }

}